.popular-film-container {
    // Container styling, if necessary
  
    &__title {
      // Styling for the title, if necessary
    }
  
    &__scroll {
      display: flex;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color, #888) var(--scrollbar-track-color, #e0e0e0); // Using CSS variables for customization
      -webkit-overflow-scrolling: touch; // Smooth scrolling on touch devices
      gap: 16px;
  
      &::-webkit-scrollbar {
        height: 8px;
        display: none;
      }
  
      &::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color, #e0e0e0);
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color, #888);
        border-radius: 4px;
      }
    }
  }
  