@use "../../styles/variables" as *;

.popular-film-container {
  
    &__scroll {
      display: flex;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color, #888) var(--scrollbar-track-color, #e0e0e0); 
      -webkit-overflow-scrolling: touch;
      gap: 16px;
  
      &::-webkit-scrollbar {
        height: 8px;
      }
  
      &::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color, #e0e0e000);
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color, $clr-primary-lt);
        border-radius: 4px;
      }
    }
  }
  